.header-container {
  display: flex;
  justify-content: flex-start;
  .logo {
    font-family: monotonregular;
    font-size: 40px;
    span {
      color: #54D38A;
    }
  }
  .header-content {
    display: flex;
    justify-content: stretch;
    flex-grow: 1;
    .name {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
    }
    .user-logo {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
      img {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        object-fit: cover;
        float: right;
        &::after {
          clear: both;
        }
      }
    }
  }
}